# Admin Bootstrap
INITIAL_ADMIN_EMAIL="admin@example.com"
INITIAL_ADMIN_PASSWORD="ChangeMeInProduction123!"
ENCRYPTION_SECRET="generate-a-secure-random-32-byte-hex-string"

# Database Configuration ('sqlite' | 'supabase')
DEFAULT_DATABASE="sqlite"

# Supabase Cloud Database Configuration (Required if DEFAULT_DATABASE="supabase" or when switching in admin)
NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"
